@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<form action="../Home/SaveNewUser" method="post">
    <input type="text" name="UserName" placeholder="UserName" required />
    <input type="password" name="Password" placeholder="Password" required />
    <input type="submit" class="btn-danger" value="Register Now!" />
</form>